@media (max-width: 1200px)
  .container,
    max-width: 960px
  .swiper
    &-container
      width: 590px
      margin: 0 auto
  .hotel
    &-slider
      &__img
        height: 100%
        width: 100%
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
  .packages
    &__big
      width: 50%
      object-fit: cover
    &__text
      &-big
        padding: 30px 20px 40px 30px
    &__card
      max-width: 300px
      &-big

    &__photo
      width: 465px

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-container
      max-width: 673px
      margin: 0 auto
  &-menu
    padding-top: 22px
    padding-bottom: 22px
    &__link
      font-size: 12px
      line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      margin-bottom: 30px
    &-right
      width: 100%
      flex-direction: row
  .booking
    width: 350px
  .swiper
    &-container
      width: 100%
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
    &__title
      font-size: 30px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat (6, 1fr )
      grid-row-gap: 40px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
    &__input
      flex-basis: 49%
  .hotel-1
    grid-column: span 2
  .hotel-2
    grid-row: 2
  .hotel-3
    grid-row: 2
  .hotel-4
    grid-row: 3
  .hotel-5
    grid-row: 3

  .packages
    &__title
      font-size: 20px
    &__big
      object-fit: cover
    &__card
      max-width: 335px

  .modal
    &__dialog
      padding: 30px 60px
    &__info

@media (max-width: 768px)

  .container
    max-width: 576px
    width: 90%
  body
    padding-top: 78px
  .logo
    width: 132px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 103

    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
          margin-left: 40px
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      top: 0
      right: 0
      bottom: 0
      top: 74px
      padding-top: 30px
      &--visible
        display: block
        width: 100%
        overflow: auto
    &-menu
      flex-direction: column
      &--mobile
        &_visible

      &__item
        margin-bottom: 20px

        &--mobile
          &_visible
            display: block
            margin-right: 40px

    &-top
      padding-top: 28px
  .search
    &__input
      width: 245px

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .swiper
    &-container
  .hotel
    &-right
      flex-direction: column

  .booking
    margin-bottom: 20px
    width: 100%

  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::before, &::after
          display: none
      &__button
        top: 32px
        &--prev
          left: 44%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 44%
          margin-right: -65px
          transform: translate(50%, 0)
    &__title
      font-size: 30px
  .activities
    padding-top: 40px
    padding-bottom: 40px
  .card
    width: 48%
    height: 255px
  .footer
    padding-top: 53px
    &__input
      flex-basis: 100%
    &__contact
      &-form
        margin-bottom: 40px
    &__logo
      margin-top: 0
  .other-wrapper
    grid-column-start: -5
    margin-bottom: 10px
  .footer__info-pay
    width: auto
    display: initial
    grid-column-start: -5

  .hotel-1
    grid-column: span 1
    width: 100%
  .hotel-3
    grid-row: 3
  .hotel-4
    grid-row: 4
  .hotel-5
    grid-row: 5

  .packages
    &-wrapper
      grid-template-rows: auto
      grid-template-columns: 100%
    &__title
      font-size: 18px
      margin-bottom: 42px
    &__subtitle
      font-size: 14px
    &__big
      height: 200px
      width: 100%
      border-radius: 8px 8px 0 0

    &__text
      margin-bottom: 30px
      font-size: 11px
      max-width: 100%

      &-big
        padding-top: 20px
        padding-bottom: 30px
        width: 100%
    &__button
      font-size: 12px
      padding: 12px 25px 13px 25px
    &-price
      &__new
        font-size: 20px

    &-card
      &__room
        font-size: 10px
    &__card
      width: 100%
      max-width: 100%
      &-big

        .packages-price__new

    &__photo
      width: 100%
  .hotel-1
    display: flex
    flex-direction: column
  .modal
    &__button
      width: 100%
    &__form
      flex-direction: column
    &__dialog
      padding: 30px 40px
      width: 100%
    &__info
      justify-content: start

      margin-top: 10px

@media (max-width: 576px)
  .logo
    width: 99px
  .swiper
    &-slide

    &-container

  .hotel
    padding-bottom: 0
    &__slider
      margin-bottom: 20px
      height: 179px
    &-slider
      &__button
        width: 11px
        height: 11px
  .newsletter
    margin-bottom: 40px
    padding: 76px 0 83px 0
    &-title
      &__strong
        font-size: 30px
    &__title
      margin-bottom: 37px
      font-size: 20px

  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .reviews
    padding: 0

    &__title
      font-size: 18px
      max-width: 245px
      margin: 0 auto
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__text
        text-align: left

  .map
    margin-bottom: 40px
  .booking
    margin-bottom: 20px
  .card
    width: 100%
  .footer
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
      margin-top: 0
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        display: initial
      &-links
        margin-top: 20px
        justify-content: start
    &__link
      margin-right: 10px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__message
      margin-bottom: 15px

    &__info
      order: 1
      margin-bottom: 15px
    &__button
      margin-right: 100%
      order: 2
  .footer
    padding-top: 53px
    &-wrapper
      grid-row-gap: 30px

@media (max-width: 320px)
  .packages
    &-price
      &__new

    &__big
      width: 100%
      max-height: 200px

    &__text
      &-big
        padding: 30px 20px 20px 32px
    &__mb
      &--37
        margin-bottom: 50px
    &__card
      &-big
        .packages-price__new
